.character {
  height: 20px;
  width: 20px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

/*
img:hover {
    cursor: url('chrome-extension://nmbgndaiokpfjgphpaaoaejfljgkgkmp/img/pokeball.gif'),auto;
}
*/
